#### ชื่อ-นามสกุล : ณิชาภัทร บุญพาวัฒนา
#### รหัสนิสิต : 6241072726
git hub

#### แหล่งที่มา
- กด
- กดเ้ื่

จริงหรือไม่ที่ยอดโควิดของไทยเยอะกว่าหลายประเทศ?
วัคซีนสามารถป้องกันการติดเชื้อได้หรือไม่

In [1]:
from datetime import datetime
import socket

print(f'ip address: {socket.gethostbyname(socket.gethostname())} ({socket.gethostname()})')
print(f'last run: {datetime.now()}')

ip address: 192.168.43.124 (LAPTOP-RKO3FJ36)
last run: 2022-02-21 22:21:14.526045

In [2]:
import pandas as pd
import seaborn as sns
import numpy as np

In [3]:
print(f'pandas version = {pd.__version__}')
print(f'seaborn version = {sns.__version__}')
print(f'numpy version = {np.__version__}')
pd.Timestamp.now()

pandas version = 1.3.5
seaborn version = 0.11.2
numpy version = 1.21.2

Timestamp('2022-02-21 22:21:16.806252')

In [4]:
# cleaned data
# df = pd.read_csv('vaccine_covid_1.csv', parse_dates=['date'])

In [5]:
# uncleaned data
df = pd.read_csv('vaccine_covid_1.csv', parse_dates=['date'])

# Preparing and cleansing data

##### Remove unwanted columns

In [6]:
to_drop = []
for c in df.columns:
    if 'smoothed' in c:
        to_drop.append(c)    
    elif 'per'in c:
        to_drop.append(c)
    elif 'excess'in c:
        to_drop.append(c)
    elif 'index'in c:
        to_drop.append(c)
    elif 'unit'in c:
        to_drop.append(c)
    elif 'weekly'in c:
        to_drop.append(c)         
    elif 'rate'in c:
        to_drop.append(c)         
    elif 'total'in c:
        to_drop.append(c)
    elif 'test'in c:
        to_drop.append(c)
    elif 'vaccinat'in c:
        to_drop.append(c)

to_drop.remove('people_vaccinated')                  
df = df.drop(to_drop, axis=1)

to_drop1 = []
for i in range(10,20):
    to_drop1.append(df.columns[i])
df = df.drop(to_drop1, axis=1)
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'new_cases', 'new_deaths',
       'icu_patients', 'hosp_patients', 'people_vaccinated', 'population'],
      dtype='object')

##### Rename columns

In [7]:
df.rename(columns={'location':'country','new_cases':'cases_per_day', 'new_deaths' : 'deaths_per_day'}, inplace=True)
df

,iso_code,continent,country,date,cases_per_day,deaths_per_day,icu_patients,hosp_patients,people_vaccinated,population
0,AFG,Asia,Afghanistan,2020-02-24,5.0,NaN,NaN,NaN,NaN,39835428.0
1,AFG,Asia,Afghanistan,2020-02-25,0.0,NaN,NaN,NaN,NaN,39835428.0
2,AFG,Asia,Afghanistan,2020-02-26,0.0,NaN,NaN,NaN,NaN,39835428.0
3,AFG,Asia,Afghanistan,2020-02-27,0.0,NaN,NaN,NaN,NaN,39835428.0
4,AFG,Asia,Afghanistan,2020-02-28,0.0,NaN,NaN,NaN,NaN,39835428.0
...,...,...,...,...,...,...,...,...,...,...
162602,ZWE,Africa,Zimbabwe,2022-02-13,82.0,0.0,NaN,NaN,4318075.0,15092171.0
162603,ZWE,Africa,Zimbabwe,2022-02-14,222.0,0.0,NaN,NaN,4319919.0,15092171.0
162604,ZWE,Africa,Zimbabwe,2022-02-15,0.0,0.0,NaN,NaN,4322787.0,15092171.0
162605,ZWE,Africa,Zimbabwe,2022-02-16,610.0,5.0,NaN,NaN,4327084.0,15092171.0
162606,ZWE,Africa,Zimbabwe,2022-02-17,385.0,2.0,NaN,NaN,4331082.0,15092171.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162607 entries, 0 to 162606
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   iso_code           162607 non-null  object
 1   continent          152859 non-null  object
 2   country            162607 non-null  object
 3   date               162607 non-null  datetime64[ns]
 4   cases_per_day      159616 non-null  float64
 5   deaths_per_day     142122 non-null  float64
 6   icu_patients       22847 non-null   float64
 7   hosp_patients      23588 non-null   float64
 8   people_vaccinated  41411 non-null   float64
 9   population         161548 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(3)
memory usage: 12.4+ MB

## Describe column names
- iso_code :
- continent :
- country :
- date :
- cases_per_day :
- deaths_per_day :
- icu_patients :
- hosp_patients : จ
- people_vaccinated : จำนวนประชากรที่ฉีดวัคซีนตั้งแต่ 1 เข็มขึ้นไปของแต่ละประเทศ
- population : จำนวนประชากรของแต่ละประเทศในแต่ละปี

# EDA

1.

2.